<p id="notice"><%= notice %></p>

<h2>
  <b><%= @post.title %></b>
</h2>

<p>
  <%= @post.content %>
</p>

<p>
	<small>Posted by <%= @post.name %></small>
</p>

<h3>Comments</h3>
<%= render @post.comments %>

<h3>Add a comment:</h3>
<%= render "comments/form" %>

<%= link_to 'Back', root_path %>